main .book {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .book .bookings-container {
    position: relative;
    width: 600px;
    height: 600px;
}

main .book .bookings-container > div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    flex-direction: column;
    box-shadow: 0 0 5px #555;
    border-radius: 12px;
    transform: translate(-100%,0);
    --tr--zero: translate(100%,0);
    --tr--in: translate(0,0);
    --tr--out: translate(-100%,0);
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    
}

main .book .bookings-container > div.active {
    opacity: 1;
    z-index: 25;
}

.ForwardIn {
    animation: ForwardIn 1s ease-in-out forwards;
}

.ForwardOut {
    animation: ForwardOut 1s ease-in-out forwards;
}

.BackwardIn {
    animation: BackwardIn 1s ease-in-out forwards;
}

.BackwardOut {
    animation: BackwardOut 1s ease-in-out forwards;
}

@keyframes ForwardIn {
    from {
        transform: var(--tr--zero);
    }

    to {
        transform: var(--tr--in);
    }
}

@keyframes ForwardOut {
    from {
        transform: var(--tr--in);
    }

    to {
        transform: var(--tr--out);
    }
}

@keyframes BackwardIn {
    from {
        transform: var(--tr--out);
    }

    to {
        transform: var(--tr--in);
    }
}

@keyframes BackwardOut {
    from {
        transform: var(--tr--in);
    }

    to {
        transform: var(--tr--zero);
    }
}



main .book .bookings-container > div > p {
    font-size: 40px;
    margin: 36px;
}

main .book .bookings-container > div > input[type="number"] {
    font-size: 48px;
}

main .book .bookings-container > div  input[type="text"] {
    font-size: 30px;
    padding: 8px;
    margin: 16px 0;
    border: 0;
    outline: 0;
    background-color: #ddd;
    border-radius: 12px;
    box-shadow: 0 0 5px #555;

}

main .book .bookings-container .controls button{
    font-size: 24px;
    text-transform: capitalize;
    padding: 16px 32px;
    border-radius: 20px;
    margin: 24px;
    background-color: #000;
    color: #fff;
}


main .book .bookings-container > div:nth-child(4) .map #map {
    width: 400px;
    height: 400px;
    box-shadow: 0 0 8px #555;
}

main .book .bookings-container > div:nth-child(2) .date-fields .date {
    display: block;
    margin: 24px;
    padding: 8px 16px;
    font-size: 40px;
    border-radius: 12px;
}