* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 10;
}

header .logo {
    display: flex;
    align-items: center;
    padding: 16px;
    z-index: 2;



}

.logo .name {
    margin-left: 16px;
    position: relative;

}

.logo .name::before {
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
    background-color: #fff;
    transform: rotate(360deg);
    transition: width 0.9s;

}

.logo .name.active::before {
    width: 0;
}
.logo .name span {
    font-size: 40px;
    font-weight: 600;
    font-family: cursive;
    text-transform: capitalize;
    transition: color 1s ease-in-out;
    
}
.logo .image-container {
    height: 50px;
    width: 50px;
    background-color: #000;
    border-radius: 50%;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.4s ease-in-out,transform 0.5s ease-in,background-color 1s ease-in-out;
}

.logo .image-container.active {
    transform: scale(1);
    opacity: 1;
}

nav {
    position: absolute;
    top: 0;
    right: 20vw;
}

nav ul {
    list-style: 0;
}

nav ul li {
    display: inline-block;
    margin: 16px;
    font-size: 32px;
    padding: 8px 16px;
    font-family: cursive;
    cursor: pointer;
    transition: background-color 1s ease-in-out,color 1s ease-in-out,border-radius 2s ease-in-out;

}

nav ul li:hover {
    background-color: var(--bg--li);
    color: var(--clr--li) !important;
    border-radius: 8px;
}

.bottom {
    position: fixed;
    bottom: 0;
    left: 50%;
    right: 50%;
    transform: translate(-50%,);
    width: 100px;
    height: 100px;
    border: 1px solid;
    border-radius: 50%;
    z-index: 5;
    background-color: #fff;
   
}
.bottom span {
    display: block;
    width: 3px;
    background-color: #000;
    height: 40px;
    position: absolute;
    bottom: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%,75%);
    
}

.bottom .right-bar {
    transform: translate(-9px,30px) rotate(150deg) ;
}

.bottom .left-bar {
    transform: translate(7px,30px) rotate(-150deg) ; 
}

.bottom .right-bar, .bottom .left-bar {
    height: 30px;
}

.bottom .middle-bar {
    height: 50px;
    transform: translate(-50%,30px);
}



main {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

main section {
    position: absolute;
    transform: translate(100%,0);
    transition: transform 1s ease-in-out,opacity 1s ease-in-out;
    opacity: 0;
    
}

main section.active {
    opacity: 1;
}



