main .the-mc {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    
    
    }
    
    main .the-mc .background  {
    position: absolute;
    width: 100vw;
    right: 0;
    height: 0;
    height: 100vh;
    background: transparent;
    z-index: -100;
    --shade-ambient:#126;
    --black:#000;
    transition: transform 1.5s ease-in-out,background 5s ease-in-out;
    }
    
    main .the-mc .background::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    
    width: 10px;
    height: 10px;
    
    background: radial-gradient(var(--black) 9%,var(--shade-ambient) 10%,var(--black) 11% 18%,var(--shade-ambient) 18%,var(--black) 20% 28%,var(--shade-ambient) 28%,var(--black) 30% 38%,var(--shade-ambient) 38%,var(--black) 40% 48%,var(--shade-ambient) 48%,var(--black) 50% 58%,var(--shade-ambient) 58%,var(--black) 60% 68%,var(--shade-ambient) 68%,var(--black) 70% 78%,var(--shade-ambient) 78%,var(--black) 80% 88%,var(--shade-ambient) 88%,var(--black) 90%);
    transform: scale(0);
    
    border-radius: 50%;
    transform: translate(200%,-200%);
    z-index: -5;
    }
    
    main .the-mc.active .background.active::after {
    transform: scale(500);
    }
    
    main .the-mc .background .star {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    opacity: 0.8;
    animation: twinkle 2s infinite ease-in-out;
    }
    
    @keyframes twinkle {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    }
    
    .the-mc.active .star {
    animation: twinkle 1.5s infinite;
    }
    
    
    main .the-mc .about {
    width: 100%;
    height: 100%;
    z-index: 3;
    position: relative;
    padding:128px 256px;
    background: transparent;
    color: #fff;
    }
    
    main .the-mc .about > h2 {
    font-size: 40px;
    text-transform: capitalize;
    font-family: cursive;
    color:#fff;
    transform: translate(0,-50%);
    opacity: 0;
    transition: transform 1s ease-in-out,opacity 1s ease-in-out;
    
    }
    
    main .the-mc .about > h2.active {
    transform: translate(0,0);
    opacity: 1;
    
    }

    main .the-mc .about > .container {
        height:calc(100vh - calc(128px *2) - 40px);
        display: flex;
        justify-content: space-evenly;
        padding-top: 128px;
    }
    
    main .the-mc .about > .container .text-container {
        width: 600px;
        position: relative;
        transform: translate(-100px,0);
        font-family: cursive;
    }

    main .the-mc .about > .container .text-container .text {
        position: absolute;
        opacity: 1;
    }

    main .the-mc .about > .container .text-container .text > h2 {
        margin-bottom: 48px;
        font-size: 40px;
        transform: translate(0,-100%);
        opacity: 0;
        transition: opacity 1s ease-in-out,transform 1s ease-in-out;

    }

    main .the-mc .about > .container .text-container .text.active > h2 {
        transform: translate(0,0);
        opacity: 1;
    } 



    main .the-mc .about > .container .text-container .text > p {
        font-size: 24px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        
    }

    main .the-mc .about > .container .text-container .text > p > span {
        display: block;
        transform: translate(0,100%);
        opacity: 0;
        transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    }

    main .the-mc .about > .container .text-container .text.active > p > span {
        transform: translate(0,0);
        opacity: 1;
    }

    main .the-mc .about > .container .visual-container {
        position: relative;
        width: 600px

    }

    main .the-mc .about > .container .visual-container > div {
        --tr--zero: translate(500px,-350px);
        --tr--in: translate(-10px,-150px);
        --tr--out:translate(-500px,350px);
        position: absolute;
        opacity: 0;
        transition: opacity 1s ease-in-out,transform 1s ease-in-out;
        

    }

    main .the-mc .about > .container .visual-container > div.active{
        opacity: 1;

    }

    @keyframes MoveIn {
        from {
            opacity: 0;
            transform: var(--tr--zero);
        }
        to {
            opacity: 1;
            transform: var(--tr--in);
        }
    }

    @keyframes MoveOut {
        from {
            opacity: 1;
            transform: var(--tr--in);
        }

        to {
            opacity: 0;
            transform: var(--tr--out);
        }
    }
    .move-in {
        animation: MoveIn 1s ease-in-out forwards;
    }

    .move-out {
        animation: MoveOut 1s ease-in-out forwards;
    }
    main .the-mc .about > .container .menu-container {
        position: relative;
    }

    main .the-mc .about > .container .menu-container .menu {
        position: relative;
        width: 220px;
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main .the-mc .about > .container .menu-container .menu li {
        display: inline-block;
        position: absolute;
        width: 60px;
        aspect-ratio: 1;
        border-radius: 50%;
        border: 1px dashed;
        left: 0;
        transform-origin: 110px ;
        transform: rotate(calc(360deg / 5 * var(--i) + 107deg));
        transition: transform 1s ease-in-out;
        cursor: pointer;
    }

    main .the-mc .about > .container .menu-container .menu li.active {
        border: 0;
    }


    main .the-mc .about > .container .menu-container .menu li > span {
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block;
        transform: rotate(calc(360deg / -5 * var(--i) - 107deg)); 
        transition: transform 1s ease-in-out;
        width: 100%;
        height: 100%;
    }

    main .the-mc .about > .container .menu-container .menu li > span > span {
        --active-border-clr:#005;
        display: block;
        width: fit-content;
        transform: translate(17px,-30px);
        text-transform: capitalize;
        background-color: #aaa;
        padding: 2px 4px;
        border-radius: 9px;
        color: #000;
        opacity: 0;
        transition:all 1s ease-in-out;

    }


    main .the-mc .about > .container .menu-container .menu li:hover > span > span {
        opacity: 1;
    }

    main .the-mc .about > .container .menu-container .menu li.active > span > span {
        display: flex;
        opacity: 1;
        transform: translate(0,0);
        height: 100%;
        align-items: center;
        border-radius: 30px;
        padding: 0 48px;
        border: 3px var(--active-border-clr) solid;
        background-color: #fff;
        color: var(--active-border-clr);

    }
    

    main .the-mc .about > .container .menu-container .menu .menu-toggle {
        width: 75px;
        aspect-ratio: 1;
        border-radius: 50%;
        border: 1px solid;
    }


   